[Unit]
Description=Launch dockerized kubernetes hyperkube apiserver
After=early-docker.target docker.service network-online.target
Before=docker.target kubernetes-controller-manager.service kubernetes-scheduler.service

[Service]
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
LimitNOFILE=infinity
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/mkdir -p /var/log/kubernetes/apiserver
#ExecStartPre=-/usr/bin/docker kill kubernetes-apiserver
#ExecStartPre=-/usr/bin/docker rm kubernetes-apiserver
ExecStart=/usr/bin/docker run \
  -e COREOS_PRIVATE_IPV4 \
  --rm \
  --name kubernetes-apiserver \
  --net=host \
  -v /etc/kubernetes/manifests:/etc/kubernetes/manifests-override \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/log/kubernetes/apiserver:/var/log/kubernetes/apiserver \
  quay.io/coreos/hyperkube:v1.2.4_coreos.1 \
    ./hyperkube apiserver \
    --bind-address=0.0.0.0 \
    --kubelet-timeout=5s \
    --kubelet-port=10250 \
    --logtostderr=true \
    --log_dir=/var/log/kubernetes/apiserver \
    --port=8080 \
    --address=0.0.0.0 \
    --etcd-servers=http://127.0.0.1:2379 \
    --advertise-address=${COREOS_PRIVATE_IPV4} \
    --runtime_config=api/v1 \
    --service-cluster-ip-range=10.1.0.0/16 \
    --portal_net=10.1.0.0/16 \ 
    --v=1 

ExecStartPost=/usr/bin/etcdctl set /cplane.picasso/kubernetes_api_endpoint ${COREOS_PRIVATE_IPV4}:8080
ExecStartPost=/usr/bin/sh -c "/usr/bin/echo -n KUBERNETES_API_ENDPOINT=${COREOS_PRIVATE_IPV4}:8080  > /etc/kube.env"
ExecStop=/usr/bin/docker kill kubernetes-apiserver
ExecStopPost=/usr/bin/etcdctl rm /cplane.picasso/kubernetes_api_endpoint

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=role=master
