[Unit]
Description=Sets up Kubernetes environment variables
After=early-docker.target docker.service network-online.target
#Before=docker.target kubernetes-apiserver kubernetes-controller-manager kubernetes-scheduler
#Before=docker.target kubernetes-apiserver kubernetes-controller-manager kubernetes-scheduler

[Service]
StandardOutput=journal
StandardError=journal
Type=oneshot
EnvironmentFile=/etc/environment
Environment=HYPERKUBE_IMG=quay.io/coreos/hyperkube
Environment=HYPERKUBE_VER=v1.2.4_coreos.1
Environment=KUBERNETES_CERT_DIR=/etc/certs/kubernetes
Environment=KUBERNETES_LOG_DIR=/var/log/kubernetes
Environment=CLUSTER_IP_RANGE=10.1.0.0/16
Environment=KUBERNETES_MANIFEST_DIR=/etc/kubernetes/manifests
Environment=KUBERNETES_API_SCHEME=http
Environment=KUBERNETES_API_PORT=8080
Environment=DOCKER_SOCK=/var/run/docker.sock
ExecStartPre=-/usr/bin/bash -c "/usr/bin/systemctl set-environment HOSTS_LINE='${COREOS_PRIVATE_IPV4} $(hostname)'"
ExecStart=/usr/bin/sh -c "echo ${HOSTS_LINE} > /tmp/foo.txt"
ExecStart=/usr/bin/sh -c "grep -q ${HOSTS_LINE} /etc/hosts || echo ${HOSTS_LINE} >> /etc/hosts"
ExecStart=/usr/bin/sh -c "/usr/bin/echo HYPERKUBE_IMG=${HYPERKUBE_IMG} > /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo HYPERKUBE_VER=${HYPERKUBE_VER} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo KUBERNETES_CERT_DIR=${KUBERNETES_CERT_DIR} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo KUBERNETES_MANIFEST_DIR=${KUBERNETES_MANIFEST_DIR} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo KUBERNETES_LOG_DIR=${KUBERNETES_LOG_DIR} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo KUBERNETES_API_SCHEME=${KUBERNETES_API_SCHEME} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo KUBERNETES_API_PORT=${KUBERNETES_API_PORT} >> /etc/kubernetes.env"
ExecStart=/usr/bin/sh -c "/usr/bin/echo DOCKER_SOCK=${DOCKER_SOCK} >> /etc/kubernetes.env"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
